#display {
  max-width: 100vh;
  margin: 0 auto;
}

.grid {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid>* {
  border: 1px solid #2effcf;
  padding: 20px;
  box-shadow: inset 0 0 0 1px #fff;
  margin: 5px;
}

.drum-pad {
	padding-top: 20%;
}